<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script>if(document.getElementById("testName").checked) {
        document.getElementById('testNameHidden').disabled = true;
    }</script>
</head>

<body>

<!-- create navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and
                Login Module</a>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <h1>Registration</h1>

            <form th:action="@{/registration}" method="post" th:object="${person}">
                <div class="form-group">
                    <label class="control-label" for="firstName"> Username </label>
                    <input id="firstName" class="form-control" th:field="*{username}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="age"> Age </label> <input
                        id="age" class="form-control" type="number"
                        th:field="*{age}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="address"> Address </label> <input
                        id="address" class="form-control"
                        th:field="*{residence}" required autofocus="autofocus" />
                </div>

                <div>
                    <input id="lol" type="checkbox" value="EMPLOYEE"  th:field="*{roles}">
                    <input id="lol.hidden" type="hidden" value=""   th:field="*{roles}">
                    <label class="control-label"> Employee</label><br>
                    <p>If you are not an employee, it is not necessary to complete the following field</p>
                </div>

                <div class="form-group">
                    <label class="control-label" for="agency"> Agency </label> <input
                        id="agency" class="form-control" th:field="*{agency}"
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>